<div>
  <table>
      <tr><thead><th>Information Technology (Sandwich course – 1 Year placement) | 2014 - 2018 | University of Gloucestershire (2:1)</th></thead></tr>
      <tr><thead><th>A levels: Applied IT – C Grade, Applied Business – C grade, Travel and Tourism – D grade</th></thead></tr>
      <tr><thead><th>8 GCSES at A-C including Math, Science and English Language</th></thead></tr>
      <tr><thead><th>Certified ScrumMaster (ScrumAlliance.org through HESA) – 09/05/2017 – 09/05/2019</th></thead></tr>
  </table>
</div>
