<div class="toolbar">
  <mat-toolbar style="min-height:40px" color="primary" class="toolbar">
    <mat-toolbar-row>
      <span>
        <div class=toolbar-logo>
            <span >
              <button mat-raised-button>
                <mat-icon svgIcon="TSicon" class="toolbar-icon" 
                style="width: 85px; height: 32px; fill: white;"></mat-icon>
                <h1>Tiago Silva</h1>
                </button>
            </span>
        </div>
      </span>
      <span class="toolbar-spacer"></span>
      <div class="toolbar-external-links">
          <button mat-flat-button (click)="openLinkedIn()">
              <span class="toolbar-icon"><i class="fab fa-linkedin-in"  style="font-size:20px; color:#fff"></i></span>
              <span class="icon-text"></span>
            </button>
  
            <button mat-flat-button (click)="openGithub()">
                <span class="toolbar-icon"><i class="fab fa-github" style="font-size:20px; color:#fff"></i></span>
                <span class="icon-text"></span>
            </button>
  
            <button mat-raised-button (click)="openCV()" color="accent" class="header-cv-button">
              <span class="cv-text">CV</span>
              <span class="icon-text">View CV</span>
            </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>