<div>
  <table>
      <tr><thead><th style="text-align: center">Coding languages</th></thead></tr>
      <tr><td>HTML, HTML5, CSS, Java, JavaScript, MYSQL & PHP, C#</td></tr>
      <tr></tr>

      <tr><thead><th>Databases</th></thead></tr>
      <tr><td>creating, managing and editing the design and content. Experience with Oracle and PhpMyAdmin</td></tr>
      <tr></tr>

      <tr><thead><th>Developing Tests and Automated Tests</th></thead></tr>
      <tr></tr>


      <tr><thead><th>Quality checking and analyzing of data</th></thead></tr>
      <tr></tr>


      <tr><thead><th>Problem Solving</th></thead></tr>
      <tr><td>Needed to resolve errors bugs/errors when found during manual/automated tests or tasks reported as bug issues.</td></tr>
      <tr></tr>


      <tr><thead><th>Operating System</th></thead></tr>
      <tr><td>Windows (7, 8, 10)</td></tr>
      <tr></tr>
  </table>
</div>