<div>
  <table>
    <tr><thead><th>STUDENT DEVELOPER AND TEST ANALYST | HESA | AUGUST 2016 – JULY 2017</th></thead></tr>
    <tr><td>To develop, test and maintain HESA server and client applications in a Scrum Team; while gathering requirements, model use cases and user stories with other member of staff. These applications are concerned with the collection, quality assurance, linking, aggregation and dissemination of data about higher education.</td></tr>
  
    <tr><thead><th>SHOP STAFF | OXFAM | AUSGUST 2012- JUNE 2014, ON SATURDAYS</th></thead></tr>
    <tr><td>Helped as a part of staff, in organizing stock such as books, clothing and toys as well as putting as price on them and displaying them for sale. This also involved managing donations.</td></tr>
  
  </table>
</div>