<div class="header">
    <app-toolbar></app-toolbar>
</div>

<div class="content">
    <mat-tab-group mat-stretch-tabs class="content-tab">
        <mat-tab class="tab-label" label="Introduction"> 
            <div class="content-container">
                <app-intro></app-intro>
            </div>    
        </mat-tab>
        <mat-tab label="Work Experience"> 
            <div class="content-container">
                <app-workexp></app-workexp>
            </div>   
        </mat-tab>
        <mat-tab class="tab-label" label="Education">
            <div class="content-container">
                <app-edu></app-edu>
            </div>   
        </mat-tab>
        <mat-tab class="tab-label" label="Extra Skills">
            <div class="content-container">
                <app-skills></app-skills>
            </div>   
        </mat-tab>
        <mat-tab class="tab-label" label="Contact">
            <div class="content-container">
                <app-contact></app-contact>
            </div>   
        </mat-tab>
    </mat-tab-group>
</div>